/*This should contain UI/dashboard styling (ie. <nav> dashboard */

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 5px;
	overflow: hidden;
	background-color: #BBBBBB;
	opacity: 0.85;
	border-bottom: 1px solid #888888;
	box-shadow: 5px 0 2px 0 #222222;
	cursor: pointer;
	font-family: "Lucida Console", Monaco, monospace;
	transition: height 0.5s;
	padding-left: 20px;
	padding-right: 20px;
	color: #222222;
}

nav:hover {
	height: 60px;
}

.nav_info {
	height: 1em;	
	display: inline-block;
	min-width: 100px;
	margin: 5px;
	/*margin-top: 10px;*/
	font-size: 80%;
}

.nav_info .label {
	font-weight: bolder;
	display: inline-block;
}

.nav_info .value {
	display: inline-block;
	overflow: wrap;
}

.onlyEdit {
	display: none;
}


.nav_info a {
	color: #222222;
	text-decoration: none;
}

.nav_info a:hover {
	text-decoration: underline;
}

#nav_message {
	display: none;
	width: 100%;
	text-align: center;
	font-size: 120%;
	font-weight: bolder;
	margin-top: 20px;
}