body {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	/*font-family: Futura, ‘Century Gothic’, AppleGothic, sans-serif*/
}

main {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	background-color: #EEEEEE;
	color: #222222;
	border: 2px solid #AAAAAA;
	border-radius: 2px;
	padding: 10px;
	box-shadow: 0 0 2px 2px #BBBBBB;
	padding-bottom: 20px;
}

header {
	text-align: center;
	display: block;
}

#title {
	max-width: 80%;
	min-width: 20%;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	text-decoration: underline;
}

article {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	min-height: 1em;
	text-align: center;
	overflow: hide;
}


.optionLink {
	display: inline-block;
	width: 38%;
	text-align: center;
	color: #444444;
	font-weight: bolder;
	padding-left: 5%;
	padding-right: 5%;
}

.optionLink:hover {
	color: #000000;
}

#choices {
	display: block;
	margin-top: 30px;
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.editable {
	min-height: 1.5em;
	min-width: 50px;
	background-color: #EEEEEE;
	border: 2px dotted #CCCCCC;
	border-radius: 3px;
	cursor: text;
	padding-top: 5px;
}

.editable:hover, .editable:focus {
	border: 2px solid #CCCCCC;
	outline: none;
	/*border: none;*/
}
[contenteditable="true"] {
	background-color: #DDDDDD;
}

#save {
	display: block;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

#editCssButton {
	margin-left: 0;
	margin-right: 0;
}

input[type=button] {
    color:#444444;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-weight: bolder;
    background-color: #DDDDDD;
    /* ... other rules ... */
    cursor:pointer;
    border-radius: 3px;
    border: 2px solid #CCCCCC;
}

input[type=button]:hover {
	background-color: #CCCCCC;
	border: 2px solid #BBBBBB;
}

#editMessage {
	min-height: 1.2em;
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-weight: bolder;
	background-color: #AACCEE;
	border: 2px dotted #88AACC;
	border-radius: 3px;
	padding: 5px;
	text-align: center;

}